.Findus {
    padding: 0px 150px 150px 150px;
    color: white;
    letter-spacing: 2px;
}


.Findus h2{
    font-family:Quattrocento serif;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #F2C94C;
    text-align: center;
}

.findus-section {
    display: flex;
    gap: 9rem;
    justify-content: space-between;
}

.findus-text{
    width: 600px;
    height: 419px;
}
.findus-text p{
    font-family: Ruda sans-serif;
    line-height: 35px;
    font-size: 25px;
    width: 500px;
    height: 419px;
}

.findus-text h5{
    margin-bottom: 2px;
}

@media screen and (max-width:640px) {
    .Findus{
        width:100vw;
        display: block;
        padding: 70px 0px 0px 0px;
    }
    
    .Findus h2{
        font-size: 50px;
        text-align: center;
       
    }

    .findus-section{
        width: 100vw;
        display:block;
    }

    .findus-img img{
        width: 95vw;
        display: block;
        margin: auto;
    }

    .findus-text p{
        width: 100vw;
        font-size: 20px;
        overflow-y: hidden;
        padding: 10px;
        
    }
    
}