.menu2{
    color: white;

}

.menu2 h2{
font-family: Quattrocento serif;
font-weight: 400;
  font-size: 60px;
  text-decoration: underline;
  text-decoration-color: #f2c94c;
  letter-spacing: 2px;
  text-align: center;
}

.menu2 ul{
    display: flex;
    gap: 4rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    justify-content: center;
   
}

.menu2 ul li{
    text-align: center;
    font-family: Ruda sans-serif;
    letter-spacing: 2px;
}


.menu2-imgs{
    display:flex;
    justify-content: space-between;
    padding: 100px 100px 0px 100px;
}

.menu2-img{
    display: flex;
}

.menu2-text{
    font-family: Ruda sans-serif;
    padding-left: 20px;
   
    
}
.menu2-text h5{
    font-size: 28px;
    color: #f2c94c;
    margin: 0;
}

.menu2-h5 span{
  padding-left: 30px;
}

.menu2-text p{
    width:300px;
   letter-spacing: 2px;
   line-height: 35px;
   font-size: 20px;
}



@media screen and (max-width:640px) {
    .menu2 h2{
        font-size: 50px;
    }
    .menu2 ul{
       display: block;
    }
    .menu2 ul li{
        margin-bottom:10px;
    }

    .menu2-imgs{
        display: block;
        padding: 10px;
        
     }

     .menu2-img{
        padding: 0;
        margin-top:20px;
        width: 100vw;
        }

    .menu2-img img{
        width: 40vw;
        height: 15vh;
    }

    .menu2-text{
        padding:4px;
    }

    .menu2-text h5{
        font-size: 20px;
        
    }


    .menu2-text p{
        font-size: 10px;
        width: 55vw;
        line-height: 30px;
    }
}