.Header{
    height: 70px;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Header h2{
    color: white;
    margin-left: 30px;
    font-family: Ruda sans-serif;
    font-size: 24px;
    cursor: pointer;
   
    
}


.Header ul{
    display: flex;
    gap:4rem;
    margin-right: 30px;
   list-style: none;
   font-family: Ruda sans-serif;
   font-size: 20px;
 
}

.Header ul li a{
    color: white;
   text-decoration: none;
}

.Header ul li a:hover{
    text-decoration: line-through;
    color: burlywood;
}

@media screen and (max-width:640px) {
    *{
        overflow-x: hidden;
    }
   
    .Header{
        width:100vw;
    }
   .Header h2{
    font-size: 10px;
    }

    .Header ul{
        display: block;
        font-size: 10px;
        
    }

    .Header ul li{
        padding-bottom:5px;
    }


}