



@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Oswald:wght@200;300;400;500;600;700&family=Overlock:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:wght@400;500;700;900&family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Oswald:wght@200;300;400;500;600;700&family=Overlock:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Quattrocento:wght@400;700&family=Roboto:wght@400;500;700;900&family=Ruda:wght@400;500;600;700;800;900&display=swap');



body{
  background-color: black;
}

/*Custom scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #5e5e5e;
}